<h1><font color ="#CC0000">Welcome</font> <font color =#FF9900>to</font> <font color ="#0000FF">Word</font> <font color ="#33CC33">Counter</font></h1>
<form action="word_count">
  <div class="form-group">
     <h4><label for="word_count"><font color =#336699>It will count the amount of time a word appears in a sentence.</font></label></h4>
     <br>
     <input id="sentence" name="sentence" class="form-control" type="text" placeholder="Enter your sentence">
     <br>
     <input id="word" name="word" class="form-control" type="text" placeholder="Enter word here">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
