<h1>Welcome to Word Counter</h1>
<form action="word_count">
  <div class="form-group">
     <label for="word_count">It will count the amount of time a word appears in a sentence.
</label>
     <input id="sentence" name="sentence" class="form-control" type="text" placeholde="Enter your sentence">
     <br>
     <input id="word" name="word" class="form-control" type="text" placeholde="Enter word here">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
