<h1><font color ="#0000FF">The Word Counter</font> :: <font color="#FF9900">Results</font></h1>
<h3>Your word has appeared <font color="#FF9900"><%= @word_count %></font> times.</h3>
<br>
<br>
<h3>Thank you for using <font color ="#0000FF">The Word Counter</font>.</h3>
<br>
<h3><p><a href="/">Go back</a> and try another sentence.</p></h3>

<!-- note: using "&nbsp;" also makes a space without using "<p> </p>". -->

<!-- <h3><a href="/">Go back</a>&nbsp;and try another sentence.</h3> -->
